[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Cuboid
	email = fanjas112358@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/home/jason/.nix-profile/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/jason/.nix-profile/bin/gh auth git-credential
[maintenance]
	repo = /home/jason/.local/share/znaprepos/znap
	repo = /home/jason/.local/share/znaprepos/sindresorhus/pure
	repo = /home/jason/.local/share/znaprepos/zsh-users/zsh-autosuggestions
	repo = /home/jason/.local/share/znaprepos/zsh-users/zsh-syntax-highlighting
