# Tmux plugins, they should be added by TPM instead of cramming the plugins in my repo.
**/.config/tmux/plugins

# I do dumb stuff in here
test/
test
test.sh

# distrobox bin exports that should just be regenerated for every install
dboxexports/

# RPM cache for my cursed .rpm downloader hack thing
rpmcache/

# Hardware specific nix stuff
hardware-configuration.nix

# personal backup and script thing
backup
backup.tar.xz
