# Tmux plugins, they should be added by TPM instead of cramming the plugins in my repo.
**/.config/tmux/plugins

# I do dumb stuff in here
test/
test
test.sh

# personal backup and script thing
backup
backup.tar.xz
