[user]
inactiveIndicatorStyle=2
indicatorOrientation=1
indicatorColorFromTheme=false
indicatorColor=rgb(230,69,83)
inactiveColor=rgb(230,69,83)
showWindowCount=true
middleButtonBehavior=1
pinned=firefox-developer-edition;thunar;org.wezfurlong.wezterm;anki;cockos-reaper;vesktop;sublime_text;xfce-settings-manager;net.lutris.Lutris;vivaldi-stable;org.speedcrunch.SpeedCrunch;
keyComboActive=true
