[user]
inactiveIndicatorStyle=2
indicatorOrientation=1
indicatorColorFromTheme=false
indicatorColor=rgb(140,93,217)
inactiveColor=rgb(140,93,217)
showWindowCount=true
middleButtonBehavior=1
pinned=net.lutris.Lutris;thunar;org.wezfurlong.wezterm;net.ankiweb.Anki;dev.vencord.Vesktop;sublime_text;xfce-settings-manager;FirefoxDevEdition;com.vivaldi.Vivaldi;speedcrunch;
