[Desktop Entry]
Categories=Development;IDE;
Comment[en_CA]=Python 3 Integrated Development and Learning Environment
Comment=Python 3 Integrated Development and Learning Environment
Exec=idle3 %F
GenericName[en_CA]=
GenericName=
Icon=idle3
MimeType=text/x-python;
Name[en_CA]=IDLE 3
Name=IDLE 3
Path=
StartupNotify=true
StartupWMClass=Toplevel
Terminal=false
TerminalOptions=
TryExec=idle3
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
