[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[b4015da0-11ac-4d44-aee9-4efb02f8fa5c]
row=2
col=0

[40a376bf-2e4d-478e-832a-e5e327a877f5]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/jason]
row=5
col=0

