[Unit]
Description=Empty user trash

[Service]
Environment=PATH=%h/.nix-profile/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
ExecStart=sh -c 'exec $$(which trash-empty) -f 60'
Type=oneshot
# this service is a low priority background job
Nice=19