[Desktop Entry]
Type=Service
MimeType=application/octet-stream;inode/directory
Actions=touchFileOrDir

[Desktop Action touchFileOrDir]
Name=Touch
Icon=auth-fingerprint-symbolic
Exec=touch %u
