[Desktop Entry]
Type=Application
Exec=distrobox enter arch-toolbox-latest -- true
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_CA]=Initialize Distrobox
Comment[en_CA]=No description
X-GNOME-Autostart-Delay=0
