[Desktop Entry]
Type=Application
Exec=obcheck -d
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_CA]=obcheck.desktop
Comment[en_CA]=Start obsidian syncthing conflict watcher
X-GNOME-Autostart-Delay=15
