[Desktop Entry]
Categories=Utility;
Comment[en_CA]=Block Middle Click Pasting in X
Comment=Block Middle Click Pasting in X
Exec=xmousepasteblock
GenericName[en_CA]=Block Middle Click Pasting
GenericName=Block Middle Click Pasting
Icon=xorg
MimeType=
Name[en_CA]=XMousePasteBlock
Name=XMousePasteBlock
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
